.container {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

header {
    padding: 30px;
    margin-bottom: 30px;
    background-color: rgba(239, 245, 245, 0.336);
}

.nav1 {
    color: black;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

#sign_in {
    background-color: rgba(23, 189, 23, 0.966);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 20px;
}

.started {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.started h6 {
    color: rgb(221, 119, 23);
}

.colored {
    color: rgba(23, 189, 23, 0.966);
}

.started h1 {
    font-weight: bold;
}

.started .btn1 {
    background-color: rgba(23, 189, 23, 0.966);
    color: white;
    padding: 5px 20px;
    margin: 15px 15px;
    border: 1px solid rgba(16, 185, 16, 0.966);
    border-radius: 20px;
}

.started img {
    width: 100%;
}

.para {
    padding: 40px;
}

#book .card {
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#book img {
    padding: 10px;
    width: 30%;
    height: 40%;
    margin-top: 20px;
}

#book .card:hover {
    box-shadow: 10px 10px 10px 10px lightgrey;
    transition: 1s;
}

#course h1 {
    color: rgb(21, 37, 88);
    padding-bottom: 30px;
    text-align: center;
}

#item .card {
    border-radius: 20px;
    box-shadow: 15px 15px 15px 15px rgb(248, 239, 239);
}

#course img {
    padding: 10px;
    width: 100%;
}

#course .btn1 {
    background-color: rgba(23, 189, 23, 0.966);
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid rgba(16, 185, 16, 0.966);
}

#course .foot img {
    width: 17%;
}

#course .foot p {
    font-size: 13px;
    align-items: flex-end;
}

.foot {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: sans-serif;
    font-weight: bold;
    font-weight: 600px;
}

.foot1 {
    justify-items: self-end;
}

.testimonial h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
}

.testimonial img {
    width: 50%;
}

.test {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 250px;
    margin-right: 150px;
}

.opt {
    padding-top: 20px;
    padding-bottom: 80px;
}

footer {
    background-color: rgba(8, 8, 17, 0.753);
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: row;
}

.copyright {
    text-align: center;
}

@media screen and (max-width:1024px) {
    .nav-bar {
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    .started img {
        width: 80%;
    }
    #book .card {
        border: none;
        border-radius: 10px;
        margin: 20px 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #book .card-deck {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #book img {
        padding: 10px;
        width: 30%;
        height: 40%;
        margin: 20px;
        justify-content: center;
        align-items: center;
    }
    #course h1 {
        color: rgb(21, 37, 88);
        padding-bottom: 30px;
        text-align: center;
    }
    #item .card {
        border-radius: 20px;
        box-shadow: 15px 15px 15px 15px rgb(248, 239, 239);
        margin: 30px 20px;
    }
    #course .card-deck {
        display: flex;
        flex-direction: column;
    }
    #course img {
        padding: 20px 20px;
        width: 100%;
    }
    #course .btn1 {
        background-color: rgba(23, 189, 23, 0.966);
        color: white;
        padding: 5px 20px;
        border-radius: 20px;
        border: 1px solid rgba(16, 185, 16, 0.966);
    }
    #course .foot img {
        width: 15%;
    }
    #course .foot p {
        font-size: 15px;
        align-items: center;
    }
    .testimonial h1 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 60px;
    }
    .test {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin: 80px;
    }
    .testimonial img {
        width: 30%;
        margin-bottom: 30px;
    }
    footer .opt {
        padding: 40px;
        display: flex;
        flex-direction: row;
    }
    table {
        margin: 10px;
        display: flex;
        flex-direction: row;
    }
}